*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
	background: #C69C6C;
	padding-bottom: 20px;
}

/* header
=========================== */
.header {
	background: #794820;
}

.navbar-light .navbar-brand {
	color: #C69C6C;

	font-size: 36px;
	font-family: "Caveat";
	font-style: italic;
	font-weight: bold;
}

.header .btn {
	margin-left: 10px;
	color: #fff;
	border: 1px solid #fff;
}

.header .btn:hover {
	background-color: #C69C6C;
	border: 0;
	outline: 0;
}

.header .btn:first-child {
	margin-left: 0;
}


/* main
=========================== */
/* main-left */
.main-left {
	background: #794820;
	border-top: 1px solid #C69C6C;
}

.main-left__ava {
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	margin-top: 40px;

	border: 1px solid #C69C6C;
	border-radius: 50%;
}

.main-left__ava img {
	width: 100%;
	object-fit: contain;
	border-radius: 50%;
}

.main-left__button {
	margin: 0 auto;
	max-width: 150px;
}

.main-left .btn {
	width: 150px;
	color: #fff;
	border: 1px solid #fff;
}

.main-left .btn:hover {
	background-color: #C69C6C;
	border: 0;
	outline: 0;
}

/* main-right */
.main-right {
	background: #C69C6C;
}

.main-right__frends {
	width: 100%;
	min-height: 50px;

	margin-bottom: 20px;

	padding-top: 15px;
	border-bottom: 1px solid #794820;;
}

.main-right__frends h5 {
	margin-bottom: 0;
	color: #794820;
	font-size: 26px;
	font-family: "Caveat";
	font-style: italic;
	font-weight: bold;
}

.main-right__search {
	position: relative;
}

.main-right__search .form-control {
	padding-left: 50px;
	margin-bottom: 20px;
}

.main-right__search-magnifier {
	position: absolute;
	top: 6px;
	left: 17px;
	color: #794820;
}

/* card-friends */
.card-friends {
	width: 100%;
	min-height: 300px;

	margin-top: 20px;
	padding: 20px;
	background: #794820;
	border-radius: 5px;
}

.card-friends__ava {
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	margin-bottom: 20px;

	border: 1px solid #C69C6C;
	border-radius: 50%;
}

.card-friends__ava img {
	width: 100%;
	border-radius: 50%;
}


.card-friends .btn {
	width: 150px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #794820;

	font-size: 12px;
}

.card-friends .btn:hover {
	background-color: #C69C6C;
}

.card-friends .btn:focus {
	background-color: #C69C6C;
}

.card-friends .list-group .list-group-item {
	background-color: #C69C6C;
}

.card-friends .name {
	margin-bottom: 0;
	color: #794820;
	font-size: 26px;
	font-family: "Caveat";
	font-weight: bold;
}

.dropdown-menu {
	background-color: #C69C6C;
}

.card-friends .btn-delete-user:focus {
	background-color: #9e2a2b;
}

.card-friends .btn-delete-user:hover {
	background-color: #9e2a2b;
}

/* scroll */
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px;
	cursor: pointer;
}
	
::-webkit-scrollbar-track {
	background-color:#794820;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#ae7d46;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#C69C6C;
	cursor: pointer;
}
	
::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px;
	cursor: pointer;
}
	
::-webkit-scrollbar{
	width: 6px;
	cursor: pointer;
}